*{
    
    margin: 0;
    padding-top: 5px;
    padding-left: 60px;
    padding-right: 60px;
}
.heading{
    text-align: center;
    padding: 1rem;
    font-size: 50px;
    color: darkslategrey;
}
.opiniones .caja-contenedor .caja{
    background: white;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    position: relative;
    border: .1rem solid rgba(0, 0, 0, 2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
}
.opiniones .caja-contenedor .caja .fa-atom{
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 8rem;
    color: skyblue;
    opacity: .3;

}
.opiniones .caja-contenedor .caja .user img{
    border-radius: 50%;
    object-fit: cover;
    height: 4rem;
    width: 4rem;
    margin-top: 2rem;
}
.opiniones .caja-contenedor .caja .user h3{
    color:teal;
    font-size: 2rem;
}
.opiniones .caja-contenedor .caja .user .stars i{
    color: gold;
    font-size: 1.5rem;
    padding: 1rem 0;
}
.opiniones .caja-contenedor .caja .comentarios{
    color: #666;
    font-size: 1rem;
    padding: 1rem;

}